*{font-size:12px}
body {
    font-family:Tahoma,Verdana,微软雅黑,新宋体;
    padding:20px;
    margin:0;
    font-size: 12px;
}
a{ color:black; text-decoration:none;cursor: pointer;}
a:hover{ color:Red; text-decoration:none;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}

.micon{ background:url(../images/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.micon-sys{ background-position:-100px -480px;}
.micon-inf{ background-position:-0px -200px;}
.micon-read{ background-position:-0px -100px;}
.micon-charge{ background-position:-40px -100px;}
.micon-stat{ background-position:-240px -80px;}
.micon-set{ background-position:-380px -200px;}
.micon-add{background-position: -20px 0px;}

.micon-nav{background-position: -100px -20px; }
.micon-users{background-position: -100px -480px;}
.micon-role{background-position: -360px -200px;}
.micon-set{background-position: -380px -200px;}
.micon-log{background-position: -380px -80px;}

.micon-delete{ background-position:-140px -120px;}
.micon-edit{ background-position:-380px -320px;}
.micon-magic{ background-position:0px -500px;}
.micon-database{ background-position:-20px -140px;}
#topmenu{padding:0px; margin:0px;list-type:none; float:right; margin-right: 40px;margin-top: 40px;}
#topmenu li{ float:left; list-style-type:none;}
#topmenu li a{	color:#000; padding-right:20px;font-weight: bold;}
#topmenu li a.active{color:red;}
#north-head{background:url("../images/nei_topbg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0)}
.logo{float: left;}
#lang-chose{padding-right:20px;position: absolute;right: 40px;top: 10px;}
#lang-chose a{color:blue;text-decoration:none;}
#clock{position: absolute;left: 475px;top: 60px;}
#userInfo{position: absolute;right:60px;top:70px; }
.operateHref{ color:#416AA3;font-weight:bold;margin-left:5px;}

