*{font-size:12px}
body {
    font-family:Tahoma,Verdana,微软雅黑,新宋体;
    padding:20px;
    margin:0;
    font-size: 12px;
}
a{ color:black; text-decoration:none;cursor: pointer;}
a:hover{ color:Red; text-decoration:none;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}

.micon{ background:url(../images/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.micon-sys{ background-position:-100px -480px;}
.micon-inf{ background-position:-0px -200px;}
.micon-read{ background-position:-0px -100px;}
.micon-charge{ background-position:-40px -100px;}
.micon-stat{ background-position:-240px -80px;}
.micon-set{ background-position:-380px -200px;}
.micon-add{background-position: -20px 0px;}

.micon-nav{background-position: -100px -20px; }
.micon-users{background-position: -100px -480px;}
.micon-role{background-position: -360px -200px;}
.micon-set{background-position: -380px -200px;}
.micon-log{background-position: -380px -80px;}

.micon-delete{ background-position:-140px -120px;}
.micon-edit{ background-position:-380px -320px;}
.micon-magic{ background-position:0px -500px;}
.micon-database{ background-position:-20px -140px;}
#topmenu{padding:0px; margin:0px;list-type:none; float:right; margin-right: 80px;}
#topmenu li{ float:left;height:50px;line-height:50px; margin:40px 2px 0px 2px; text-align:center; list-style-type:none;border-radius:5px;}
#topmenu li a{	font-size:14px; color:#fff; font-weight:bold; display:block;}
#topmenu li a.active{color:rgb(33, 217, 232);}
.nav_ico1 { background:#104e6f url(../images/home.png) center no-repeat; width:81px;}
.nav_ico2 { background:#22709a url(../images/admin.png) center no-repeat; width:81px;}
.nav_ico3 { background:#22709a url(../images/info.png) center no-repeat; width:81px;}
.nav_ico4 { background:#22709a url(../images/meter.png) center no-repeat; width:81px;}
.nav_ico5 { background:#22709a url(../images/charge.png) center no-repeat; width:81px;}
.nav_ico6 { background:#22709a url(../images/statis.png) center no-repeat; width:81px;}


#north-head{background-color:#0081c2}
.logo{float: left;}
#lang-chose{padding-right:10px;position: absolute;right: 20px;top: 10px;}
#lang-chose a{color:blue;text-decoration:none;}
#clock{position: absolute;left: 475px;top: 60px;}
#userInfo{position: absolute;right:150px;top:10px; }
.operateHref{ color:#416AA3;font-weight:bold;margin-left:5px;}

